<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some web site</title>
    </head>
    <body>
        {{> header}}
        <p>Some text herer</p>  

        {{> footer}}      
    </body>
</html>